body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  padding-top: 60px;
}

.navbar {
  margin-bottom: 0;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.97);
}


.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, 0.97);
    text-decoration: underline;
}

.navbar-brand img {

	width: 40px;
}

.jumbotron {
	border-radius: 0;
}

.jumbotron.banner {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('../images/banner1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -220px ; 
}

.jumbotron.banner p {
	color: #fff !important;
}

.jumbotron.banner p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: bold;
  color: #fff;
}

.jumbotron.banner .container {
  
}

.jumbotron.banner.short {
	height: 140px;
	padding-top: 3rem;
	 background-position: top;
}


.ticker {
	background-color: #2d2826!important;
	padding: 0;
	padding-top: 6px;
  margin-bottom: 0px;
  height: 40px;
  color: #fff;
}

.logo {
	float: left;
	width: 100px;
	margin-top: 10px;
	margin-right: 15px;
}

.jumbotron.banner.short .logo {
	width: 80px;
	margin-top: 0;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #fff;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
  height: 220px;
}

.card > a {
      font-size: 20px;
}
.card-text {
  font-size: 85%;
}

/*
 * Blog name and description
 */
.blog-article {
	margin-top: 50px;
}
.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: normal;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
  


}

@media (max-width: 786px) {
	  .card {
  width: 100%;
  padding: .25rem;
  margin-bottom: 2rem;
  border: 0;
}
}

.sidebar-module {
  padding: 0.5rem;
  /*margin: 0 -1rem 1rem;*/
}
footer {
	background-color: #f7f7f7;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}